/* Hero Section */
header {
    z-index: 0;
    position: fixed; /* Establishes a positioning context for children */
    top: 0;
    /* min-height: 50vh; */
    display: flex; /* Helps center content */
    flex-direction: column;
    overflow: hidden; /* Prevents video from spilling out */
    color: white;
    background-color: black; /* Fallback color */
}


#facePage{
    position: relative;
    padding: 40px 10px;
    background-color: #4f5c60;
    color: silver;
    flex: 1;
    font-size: 1.4rem;
}

@media (min-width: 900px) {
    #facePage{
        font-size: 2.2rem;
    }
    #facePage p{
        width: 60%;
        margin: 50px auto;
    }
}

#hero{
    flex: 0 0 40%;
    position: relative;
    /* background-image: url('../img/3-Maurice.Wingfield.SethMosesMiller-SMALL-768x896.jpg'); */
    background-position: top;
    background-size: cover;
}

#heroContainer{
    scroll-behavior: smooth;
    scroll-snap-type: proximity;
}

#spacer{
    height: 100vh;
}

header .hero-text {
    display: inline-block;
    color: silver;
    font-size: 2rem;
    text-align: left;
    padding: 10px;
}

@media (min-width: 900px){
    header .hero-text{
        margin: 40px;
    }
}

header .hero-text span{
    animation: fadeInUp 1s ease-in-out;
}

#linkSection{
    background-color: #475255;
    padding: 30px;
    border-radius: 15px;
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
    z-index:5;
}

.project{
  color: #35432c;
}

.projectHeader{
    z-index: 10;
    background-color: black;
    font-size: 2rem;
}

@media (max-width: 700px){
    .projectHeader{
        font-size: 1.2rem;
    }
}

/* Per-character animation for hero text */
header .hero-text span {
    display: inline-block;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 1s ease-in-out forwards;
}

#gallery-carousel-1{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    height: 150px;
    overflow-x: scroll;
    overflow-y: hidden;
    margin-bottom: 20px;
    gap: 16px;
}

#gallery-carousel-1::-webkit-scrollbar{
    display: none;
}

#gallery-carousel-1 img{
    height: 150px;
    width: auto;
    display: block;
    border-radius: 15px;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Hero Video */
.hero-video {

    object-fit: cover; /* Ensures video covers the area without distortion */
    transform: translate(-50%, -50%);
    z-index: -1; /* Places the video behind other content */
}


#memoryAudio-banner{
    border-radius: 10px;
    width: 100%;
}

#button-wrapper{
    /* background-image: url('../img/memory-audio_cartridge_600x400.png'); */
    background-image: url('../img/memory-audio_cartridge_B.png');
    background-position: center;
    background-size: 80%;
    min-height: 200px;
    border-radius: 15px;
    margin-bottom: 40px;
    text-align: center;
    position: relative;
}
#memorize-button{
    text-decoration: none;
    text-align: center;
    background-color: #eff84a;
    color: gray;
    font-weight: bold;
    text-transform: uppercase;
    display: block;
    /* width: 50%;   */
    margin: 10px auto;
    margin-bottom: 40px;
}

#transition-steps{
    list-style-type: disc;
    margin-left: 40px;
    width: 80%;
}

a.github-button{
    display: block;
    width: 100%;
    padding: 5px;
}

#movieNightStack{
    list-style-type: disk;  
    margin-left: 20px;
    margin-bottom: 40px;
}

#movieNightStack ul{
    list-style-type: square;
    margin-left: 40px;
}

video#player{
    width: 100%;
    height: auto;
    display: block;
    margin-top: 40px;
    border-radius: 10px;
}

#video-caption, .image-caption{
    margin: 20px 0;
    font-size: .7rem;
    color: black;
}

@media (min-width: 600px){
    #video-caption, .image-caption{
        font-size: 1rem;
    }
}

/* Footer Section */


footer {
    position: relative;
    height: 100vh;
    padding: 20px;
}

footer .signup-form {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
}

footer .signup-form input{
    width: 100%;
}

#formContainer{
    background-color: #464639;
    position: relative;
    height: 100vh;
    /* width: 100vw; */
    /* padding: 20px; */
    z-index: 11;
}

#formContainer input[type=email]{
    background-color: #333333ff;
    color: white;
    padding: 5px;
    margin: 10px 0;
}

#formContainer button{
    display: block;
    background-color: #d8bd52;
    padding: 5px;
    border-radius: 5px;
    color: blue;
}

.signup-form{
    position: relative;
    z-index: 5;
}

#grid{
    position: absolute;
    /* height: 100vh; */
    width: 100%;
    right:0;
    bottom:0;
    left:0;
    z-index:0;
}

#moves{
    position: relative;
    z-index: 20;
    padding: 15px;
}

/* Stackable Body Section */
.body-panel {
    position: relative;
    background-color: black;
    color: white;
    padding: 20px;
    min-height: 100vh;
    /* max-width: 900px; */
    z-index: 10;
}

.scrollContainer{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #739175;
    z-index: 20;
    margin-top: 100vh;
    overflow-y: scroll;
    color: white;
}

/* Responsive Design */
@media (min-width: 800px) {
    header {
        flex-direction: row;
        width: 100%;
        max-width: 100%;
    }
}

@media (max-width: 768px) {
    header {
        min-height: 40vh; /* Adjust height for smaller screens */
    }

    header .hero-text {
        font-size: 1.5rem;
    }

    footer .signup-form {
        max-width: 300px;
    }

    .body-panel {
        padding: 10px;
        /* margin: 10px auto; */
    }
}

@media (max-width: 480px) {
    header {
        min-height: 30vh; /* Further adjust height for very small screens */
    }
}
