/* Hero Section */
header {
    z-index: 0;
    position: fixed; /* Establishes a positioning context for children */
    top: 0;
    /* min-height: 50vh; */
    display: flex; /* Helps center content */
    flex-direction: column;
    overflow: hidden; /* Prevents video from spilling out */
    color: white;
    background-color: black; /* Fallback color */
}
#facePage{
    position: relative;
    padding: 40px 10px;
    background-color: black;
    color: silver;
    flex: 1;
}

#hero{
    flex: 0 0 40%;
    position: relative;
    /* background-image: url('../img/3-Maurice.Wingfield.SethMosesMiller-SMALL-768x896.jpg'); */
    background-position: top;
    background-size: cover;
}

#heroContainer{
    scroll-behavior: smooth;
    scroll-snap-type: mandatory;
}

#spacer{
    height: 100vh;
}

header .hero-text {
    display: inline-block;
    background-color: black;
    color: silver;
    font-size: 2rem;
    text-align: left;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10px;
}

header .hero-text span{
    animation: fadeInUp 1s ease-in-out;
}

#linkSection{
    background-color: gray;
    padding: 30px;
    border-radius: 15px;
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
    z-index:5;
}

.projectHeader{
    z-index: 10;
    background-color: #35432c;
}

/* Per-character animation for hero text */
header .hero-text span {
    display: inline-block;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 1s ease-in-out forwards;
}

#gallery-carousel-1{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    height: 150px;
    overflow-x: scroll;
    overflow-y: hidden;
    margin-bottom: 20px;
    gap: 16px;
}

#gallery-carousel-1::-webkit-scrollbar{
    display: none;
}

#gallery-carousel-1 img{
    height: 150px;
    width: auto;
    display: block;
    border-radius: 15px;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Hero Video */
.hero-video {

    object-fit: cover; /* Ensures video covers the area without distortion */
    transform: translate(-50%, -50%);
    z-index: -1; /* Places the video behind other content */
}


#memoryAudio-banner{
    border-radius: 15px;
}

#button-wrapper{
    /* background-image: url('../img/memory-audio_cartridge_600x400.png'); */
    background-image: url('../img/memory-audio_cartridge_B.png');
    background-position: center;
    background-size: 80%;
    min-height: 200px;
    border-radius: 15px;
    margin-bottom: 40px;
    text-align: center;
    position: relative;
}
#memorize-button{
    display: block;
    width: 100%;
    margin: 10px auto;
    margin-bottom: 40px;
}

a.github-button{
    display: block;
    width: 100%;
    padding: 5px;
}

#movieNightStack{
    list-style-type: disk;  
    margin-left: 20px;
    margin-bottom: 40px;
}

#movieNightStack ul{
    list-style-type: square;
    margin-left: 40px;
}

video#player{
    width: 100%;
    height: auto;
    display: block;
    margin-top: 40px;
    border-radius: 10px;
}

div#video-caption{
    margin: 20px 0;
    font-size: .7rem;
    color: black;
}


/* Footer Section */


footer {
    position: relative;
    height: 100vh;
    padding: 20px;
}

footer .signup-form {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
}

#formContainer{
    background-color: #464639;
    position: relative;
    height: 100vh;
    width: 100vw;
    padding: 20px;
    z-index: 11;
}

#formContainer input[type=email]{
    background-color: #333333ff;
    color: white;
    padding: 5px;
    margin: 10px 0;
}

#formContainer button{
    display: block;
    background-color: #d8bd52;
    padding: 5px;
    border-radius: 5px;
    color: blue;
}

.signup-form{
    position: relative;
    z-index: 5;
}

#grid{
    position: absolute;
    /* top:0; */
    right:0;
    bottom:0;
    left:0;
    z-index:0;
}

/* Stackable Body Section */
.body-panel {
    position: relative;
    background-color: black;
    color: white;
    padding: 20px;
    min-height: 100vh;
    max-width: 900px;
    z-index: 10;
}

.scrollContainer{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #739175;
    z-index: 20;
    margin-top: 100vh;
    overflow-y: scroll;
    color: white;
}

/* Responsive Design */
@media (max-width: 768px) {
    header {
        min-height: 40vh; /* Adjust height for smaller screens */
    }

    header .hero-text {
        font-size: 1.5rem;
    }

    footer .signup-form {
        max-width: 300px;
    }

    .body-panel {
        padding: 10px;
        /* margin: 10px auto; */
    }
}

@media (max-width: 480px) {
    header {
        min-height: 30vh; /* Further adjust height for very small screens */
    }
}
